body{font-family: 'roboto',sans-serif;background-color:#f4f7f6;margin: 0 ;}

*{box-sizing: border-box;}

.logo{margin-top: 30px;width: 50px;}

.entete{
    text-align: center;
    background: #1D1D1D;
    color: white;
    padding-bottom: 30px ;
}

h1{
    font-family: 'Liu Jian Mao Cao', cursive , sans-serif;
    font-size: xx-large;
    margin-top: 0;
    padding-top: 30px;
   
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;  
    font-size: 1.5em; 
    width: 400px;
    margin: auto;
    text-transform: uppercase;
}
   

h3{font-size: 1.5em;text-transform: uppercase;}

h3:before{content: open-quote ;color: grey;}

h3:after{content: close-quote;color:grey}

p{text-align: justify;}

section{text-align: center;}

a{
    text-decoration: none;
    color: black; 
    text-shadow: 0px, 3px ,1px ,-1p, black;
    font-size: 1.1em;   
}

a:hover{font-weight: bold;}


nav{
    text-align: center;
    background: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0,5);
    font-size: 1.1em;
    padding: 5px; 
    position: relative;  
    left: 0px;
    right: 0px;
    text-transform: uppercase;
}


ul{padding: 0;display: inline;  }

li{
   list-style-type: none; 
   display: inline;
   margin:15px;
}

                 /* contact */
#contact{border: 1px black solid;border-radius: 15px;}

footer{background: #1d1d1d;
    color: white;
    text-align: center;
}


































