body{
    font-family: 'roboto',sans-serif;
    background-color:#f4f7f6;
}

#logo{
 
 text-align: ;

}

.entete{
    text-align: center;
    background: #1D1D1D;
    color: white;

}
h1{
    font-family: 'Liu Jian Mao Cao', cursive , sans-serif;
    font-size: xx-large;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;  
    font-size: 1.5em; 
    }
   

h3{
    font-size: 1.5em;
}

p{
    text-align: justify;
}

section{
    text-align: center;
}

a{
    text-decoration: none;
    color: black; 
    text-shadow: 0px, 3px ,1px ,-1p, black;
    font-size: 1.1em;
   
   
}

a:hover{
   font-weight: bold;
}


nav{
    text-align: center;
    background: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0,5);
    font-size: 1.1em;
    
}


ul{
    padding: 0;
    
}

li{
   list-style-type: none; 
   display: inline;
}

                 /* contact */
#contact{
    border: 1px black solid;
    border-radius: 15px;

}

footer{
    background: #1d1d1d;
    color: white;
    text-align: center;
}


































